#comicContainer {
	margin-left: 12%;
	background-color: orange;
	width: 68%;


}

#nameLength {
	
	max-width: 290px;
	
}

#comicButton {
  	margin: 0 auto;
  	display: block;
  
  	/*	border: none; */
	background-color: orange;
	padding-top: 2%;
	text-align: center;
	font-style: bold;
	font-family: Times, serif;
	font-size: 130%;
	max-width: 100%;
	
	
	
}

#comicPrice {
	text-align: center;
	font-family: Times, serif;
	font-size: 80%;

}

#eachComic{
	display: inline-block;
	margin-left: 1%;
	margin-top: 1%;
	
}



footer {

  background-color: Green;
  color: white;
  position: fixed;
  left: 50%;
  bottom: 20px;
  transform: translate(-50%, -50%);
  margin: 0 auto;
}

#titlePicture {
	margin-left: 10%;
	margin-top: 7%;
	display: inline-block;
	float: left;
}

#comicData {
	display: inline-block;
	margin-left: 5%;
	margin-top: 5%;
	border-collapse: collapse; 
	border-style: none;
	font-family: Times, serif;
	font-size: 90%;
	width: 40%;
	
}


#pageLinks {
	
display: inline-block;
}

#cartButton {
	 background-color: #C0392B;
 	 border: none;
  	 text-color: white;
  	 padding: 20px;
  	 text-align: center;
  	 text-decoration: none;
     display: inline-block;
     font-size: 12px;
   	 line-height: 0px;
     margin: 4px 2px;
     cursor: pointer;
	 border-radius: 12px;
	 transition-duration: 0.4s;
}

#cartButton:hover {
	 background-color: #641E16; /* Dark red */
	 box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 20px 0 rgba(0,0,0,0.19);
  	 color: white;
}

.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #DCDCDC;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    text-align: center;
    text-overflow: ellipsis-word;
    
}


.card:hover {
	transform: scale(1.05);
	  box-shadow: 8px 8px 8px #808080;
}

#href_login {
	display: inline-block;
	float: right;
}

.img2 {
  border: 2px solid #ff0000;
  position: absolute;
  z-index: 1;
 
  top: 100px;
  left: 50px;
 
}

