<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
	crossorigin="anonymous"></script>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
	crossorigin="anonymous">

<link href="css/stylesheet.css" rel="stylesheet" type="text/css"
	th:href="@{css/stylesheet.css}" />
<title>WebShop ADMIN</title>

</head>

<body>

<!-- bootstrap navbar -->
 <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Comic Shop</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="admin_add_item">ADMIN: add item</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
    
		<button class="btn btn-primary" type="button"
			data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
			aria-controls="offcanvasRight"
			th:text=" ${itemsInCart.size} + ' items in cart'"></button>
  </div>
</nav>
<!-- END bootstrap navbar -->

<!-- container -->
	<div class="container" id="itemContainer">
		<form method="post" th:action="@{/admin_add_item}"
			th:object="${itemDTO}" enctype="multipart/form-data">
			<div class="form-row">
				<div class="col">
					<label class="form-check-label">Title:</label><input type="text"
						th:field="*{name}" class="form-control form-control" required>
				</div>
				<div class="col">
					<label class="form-check-label">Episode title:</label><input
						type="text" th:field="*{title}" class="form-control" required>
				</div>
			</div>

			<div class="form-row">
				<div class="col">
					<label class="form-check-label">Publisher:</label><input
						type="text" th:field="*{publisher}" class="form-control" required>
				</div>
				<div class="col">
					<label class="form-check-label">Publish date:</label><input
						type="date" th:field="*{publishDate}" class="form-control"
						required>
				</div>
			</div>
			<div class="form-row">
				<div class="col">
					<label class="form-check-label">Edition:</label><input type="text"
						th:field="*{edition}" class="form-control" required>
				</div>

				<div class="col">
					<label class="form-check-label">Serial:</label><input type="text"
						th:field="*{serial}" class="form-control" required>
				</div>
			</div>
			<div class="form-row">
				<div class="col">
					<label class="form-check-label">Issue:</label><input type="number"
						th:field="*{issue}" class="form-control" required>
				</div>

				<div class="col">
					<label class="form-check-label">Original title:</label><input
						type="text" th:field="*{originalTitle}" class="form-control"
						required>
				</div>
			</div>
			<div class="form-row">
				<div class="col">
					<label class="form-check-label">Original issue:</label><input
						type="text" th:field="*{originalIssue}" class="form-control"
						required>
				</div>

				<div class="col">
					<label class="form-check-label">Writers:</label><input type="text"
						th:field="*{writers}" class="form-control" required>
				</div>
			</div>
			<div class="form-row">
				<div class="col">
					<label class="form-check-label">Artists:</label><input type="text"
						th:field="*{artists}" class="form-control" required>
				</div>

				<div class="col">
					<label class="form-check-label">Number of pages:</label><input
						type="number" th:field="*{numPages}" class="form-control"
						placeholder="98" required>
				</div>
			</div>
			<div class="form-row">
				<div class="col">
					<label class="form-check-label">Color:</label><select
						th:field="*{color}" class="form-control" required>
						<option value="false">Black-white</option>
						<option value="true">Color</option>
					</select>
				</div>

				<div class="col">
					<label class="form-check-label">Cover:</label><select
						th:field="*{hardcover}" class="form-control" required>
						<option value="false">Paperback</option>
						<option value="true">Hardcover</option>
					</select>
				</div>
			</div>
			<div class="form-row">
				<div class="col">
					<label class="form-check-label">Price:</label><input type="number"
						th:field="*{price}" class="form-control" step="0.01" value="270"
						required>
				</div>

				<div class="col">
					<label class="form-check-label">Stock:</label><input type="number"
						th:field="*{stockLevel}" class="form-control" required>
				</div>
			</div>
			<div class="form-row">
				<div class="col">
					<label class="form-check-label">Insert title page:</label><input
						type="file" id="titlePage" name="titlePage"
						class="form-control" th:field="*{titlePage}">
				</div>
			</div>
			<br>
			<p>
				<input type="submit" class="btn btn-primary">
			</p>

		</form>
	</div>
<!-- END container -->	
	
	<footer id="footer"> Skarabudženo by Risac &copy; </footer>

</body>
</html>