<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
	crossorigin="anonymous"></script>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
	crossorigin="anonymous">

<link href="css/stylesheet.css" rel="stylesheet" type="text/css"
	th:href="@{css/stylesheet.css}" />

	<title>WebShop Cart</title>
  </head> 

  <body>
<!-- bootstrap navbar -->
 <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Comic Shop</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="admin_check_inventory">ADMIN: check inventory</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="admin_add_item">ADMIN: add item</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
     </div>
   
			
  </div>
</nav>
<!-- END bootstrap navbar -->

<!-- Bar under bootstrap navbar --> 
	
	<div id="href_login">
	<span th:text="'Hello, ' + *{greetUser}"></span>
	 <a href="login" th:if="*{greetUser == 'Guest'}" >Login</a>
	 <a href="logout" th:unless="*{greetUser == 'Guest'}">Logout</a>
	<a href="register" th:if="*{greetUser == 'Guest'}">Register</a>
	</div>
<!-- END Bar -->

<!-- CONTENT -->


<div class="container" id="userContainer">
<p><strong>Enter delivery details:</strong></p>
<p>* indicates required field</p>
		<form method="get" action=""
			th:object="${checkoutDTO}" enctype="multipart/form-data">
			
			<div class="form-row">
				<div class="col">
					<label class="form-check-label">* First name:</label><input
						type="text" th:field="*{f_name}" th:placeholder="${findUser.f_name}" class="form-control" required>
				</div>
			</div>

			<div class="form-row">
				<div class="col">
					<label class="form-check-label">* Last name:</label><input
						type="text" th:field="*{l_name}" th:placeholder="${findUser.l_name}"class="form-control" required>
				</div>
				
				<div class="col">
					<label class="form-check-label">* Email:</label><input
						type="text" th:field="*{email}" th:placeholder="${findUser.email}"class="form-control" required>
				</div>
				<div class="col">
					<label class="form-check-label">* Phone:</label><input
						type="text" th:field="*{phone}" th:placeholder="${findUser.phone}" class="form-control"
						required>
				</div>
			</div>
			<div class="form-row">
				<div class="col">
					<label class="form-check-label">* Address:</label><input type="text"
						th:field="*{address}" th:placeholder="${findUser.address}" class="form-control" required>
				</div>

				<div class="col">
					<label class="form-check-label">* City:</label><input type="text"
						th:field="*{city}" th:placeholder="${findUser.city}" class="form-control" required>
				</div>
			</div>
			<div class="form-row">
				<div class="col">
					<label class="form-check-label">* Zip:</label><input type="number"	
						th:field="*{zip}" th:placeholder="${findUser.zip}" class="form-control" required>
				</div>
			</div>
			
			<div class="form-row">
				<div class="col">
					<label class="form-check-label">* Card number:</label><input type="number"	
						th:field="*{cardNumber}" placeholder="1234123412341234" class="form-control" required>
				</div>
			</div>
			
			<div class="form-row">
				<div class="col">
					<label class="form-check-label">* Name on card:</label><input type="text"	
						th:field="*{nameOnCard}" th:placeholder="${findUser.f_name + ' ' + findUser.l_name}"class="form-control" required>
				</div>
			</div>
			<div class="form-row">
				<div class="col">
					<label class="form-check-label">* Valid until:</label><input type="date"	
						th:field="*{validDate}" class="form-control" required>
				</div>
			</div>
			
			<div class="form-row">
				<div class="col">
					<label class="form-check-label">* CVV2:</label><input type="number"	
						th:field="*{cvv2}" placeholder="1234" class="form-control" required>
				</div>
			</div>
			
			
			
			
				<input type="submit" class="btn btn-primary" value="Checkout">
		</form>

	</div>
<!--  END CONTENT -->

<!-- LEFT CANVAS -->

<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Offcanvas</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div>
      Some text as placeholder. In real life you can have the elements you have chosen. Like, text, images, lists, etc.
    </div>
    <div class="dropdown mt-3">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown">
        Dropdown button
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
      </ul>
    </div>
  </div>
</div>
<!-- END LEFT CANVAS -->

<footer id="footer">
Skarabudženo by Risac &copy; 
</footer>

</body>
</html>