<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
	crossorigin="anonymous"></script>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
	crossorigin="anonymous">

<link href="css/stylesheet.css" rel="stylesheet" type="text/css"
	th:href="@{css/stylesheet.css}" />


<title>WebShop Register</title>
</head>

<body>
 
<!-- bootstrap navbar -->
 <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Comic Shop</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="admin_check_inventory">ADMIN: check inventory</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="admin_add_item">ADMIN: add item</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
   
		<button class="btn btn-primary" type="button"
			data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
			aria-controls="offcanvasRight"
			th:text=" ${itemsInCart.size} + ' items in cart'"></button> 
			
  </div>
</nav>
<!-- END bootstrap navbar -->
		
	<p	th:text="REGISTER"></p>
<!-- container -->



	<div class="container" id="userContainer">
		<form method="get" action=""
			th:object="${user}" enctype="multipart/form-data">
			
			<div class="form-row">
				<div class="col">
					<label class="form-check-label">Username:</label><input type="text"
						th:field="*{name}" class="form-control form-control" required>
				</div>
				</div>
				<div class="form-row">
				<div class="col">
					<label class="form-check-label">Email:</label><input
						type="text" th:field="*{email}" class="form-control" required>
				</div>
				</div>
				<div class="form-row">
				<div class="col">
					<label class="form-check-label">Password:</label><input
						type="password" th:field="*{password}" class="form-control" required>
				</div>
				
				<div class="col">
					<label class="form-check-label">First name:</label><input
						type="text" th:field="*{f_name}" class="form-control">
				</div>
			</div>

			<div class="form-row">
				<div class="col">
					<label class="form-check-label">Last name:</label><input
						type="text" th:field="*{l_name}" class="form-control">
				</div>
				<div class="col">
					<label class="form-check-label">Phone:</label><input
						type="text" th:field="*{phone}" class="form-control"
						required>
				</div>
			</div>
			<div class="form-row">
				<div class="col">
					<label class="form-check-label">Address:</label><input type="text"
						th:field="*{address}" class="form-control" required>
				</div>

				<div class="col">
					<label class="form-check-label">City:</label><input type="text"
						th:field="*{city}" class="form-control" required>
				</div>
			</div>
			<div class="form-row">
				<div class="col">
					<label class="form-check-label">Zip:</label><input type="number"
						th:field="*{zip}" class="form-control" required>
				</div>
			</div>
				
				<input type="submit" class="btn btn-primary">
			

		</form>
		
	</div>
	
<!-- END container -->
	

<!-- 
<div id="userContainer">
<form action="" method="get" th:object="${user}">

User name:			<input type="text" th:field="*{name}"><br>
Ime:				<input type="text" th:field="*{f_name}"><br>
Prezime:			<input type="text" th:field="*{l_name}"><br>
Email:				<input type="text" th:field="*{email}"><br>
Telefon: 			<input type="text" th:field="*{phone}"><br>
Adresa:				<input type="text" th:field="*{address}"><br>
Postanski broj:		<input type="text" th:field="*{zip}"><br>
Grad:				<input type="text" th:field="*{city}"><br>



			        <input type="submit">
</form>
</div>
 -->


	



	<footer id="footer"> Skarabudženo by Risac &copy; </footer>

</body>
</html>