<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
	crossorigin="anonymous"></script>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
	crossorigin="anonymous">

<link href="css/stylesheet.css" rel="stylesheet" type="text/css"
	th:href="@{css/stylesheet.css}" />
	<title>WebShop Comic</title>
  </head> 

  <body>
<!-- bootstrap navbar -->
 <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Comic Shop</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="admin_check_inventory">ADMIN: check inventory</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="admin_add_item">ADMIN: add item</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
   
		<button class="btn btn-primary" type="button"
			data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
			aria-controls="offcanvasRight"
			th:text=" ${itemsInCart.size} + ' items in cart'"></button> 
			
  </div>
</nav>
<!-- END bootstrap navbar -->
<!-- Bar under bootstrap navbar --> 
	<button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample"> Filters </button>
	<div id="href_login">
	<span th:text="'Hello, ' + *{greetUser}"></span>
	<a href="login" th:if="*{greetUser == 'Guest'}" >Login</a>
	<a href="logout" th:unless="*{greetUser == 'Guest'}">Logout</a>
	<a href="register" th:if="*{greetUser == 'Guest'}">Register</a>
	</div>
<!-- END Bar -->
<p>
<div id="titlePicture">
<img th:src="${item.getTitlePagePath}" alt="/pics/titlepages/NA.jpg" width="470" height="626">  
	</div>



	<div id="comicData">
		<h1 th:text= "${item.getName}"></h1>
		<div th:if="${item.stockLevel} > 1">
		<h2 th:text= "${item.getPriceString}"></h2><br>
		</div>
		<div th:unless="${item.stockLevel} > 1"> <img src="/pics/other/outofstock.jpg" 
						alt="out of stock">
		</div>
		
	<div>	
	<div th:if="${item.stockLevel} > 1">
		<form method="post" th:action="@{/view_comic}" th:object="${cart}">
		<input type="number" th:field="*{quantity}" placeholder="1" min="1">
			<button type="submit" id="cartButton"  name="command" value="addMe"><strong>DODAJ U KORPU</strong></button><br>
			<input type="hidden" id="itemId" name="itemId" th:value="${item.getId}" />
		</form>
	</div>
	</div>
		
		<table class="table table-sm" style="max-width:500px;">
			<tr>
			<td><strong>Izdavač:</strong></td>
			<td><p th:text= "${item.getPublisher.getName}"></p></td>
			</tr>
			
			<tr>
			<td><strong>Serijal:</strong></td>
			<td><p th:text= "${item.getSerial}"></p></td>
			</tr>
			
			<tr>
			<td><strong>Edicija:</strong></td>
			<td><p th:text= "${item.getEdition}"></p></td>
			</tr>
			
			<tr>
			<td><strong>Naslov:</strong></td>
			<td><p th:text= "${item.getTitle}"></p></td>
			</tr>
			
			<tr>
			<td><p><strong>Crtež:</strong></p></td>
			<td><p th:text= "${item.getArtistsString}"></p></td>
			</tr> 
			
			<tr>
			<td><strong>Scenario:</strong></td>
			<td><p th:text= "${item.getWritersString}"></p></td>
			</tr>
			
			<tr>
			<td><strong>Originalni naslov:</strong></td>
			<td><p th:text= "${item.getOriginalTitle}"></p></td>
			</tr>
			
			<tr>
			<td><strong>Broj originalne edicije:</strong></td>
			<td><p th:text= "${item.getOriginalIssue}"></p></td>
			</tr>
			
			<tr>
			<td><strong>Broj strana:</strong></td>
			<td><p th:text= "${item.getNumPages}"></p></td>
			</tr>
			
			<tr>
			<td><strong>Boja:</strong></td>
			<td> <p th:text="${item.isColor} ? 'Kolor':'Crno-belo'"> </td>

			</tr>
			
			<tr>
			<td><strong>Korice:</strong></td>
			<td> <p th:text="${item.isHardcover} ? 'Tvrde korice':'Meke korice'"></p></td>
			</tr>
			
		</table>
		</div>
		
	<!-- OFF CANVAS CART RIGHT -->
	<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight"
		aria-labelledby="offcanvasRightLabel">
		<div class="offcanvas-header">
			<h5 id="offcanvasRightLabel">Cart</h5>
			<button type="button" class="btn-close text-reset"
				data-bs-dismiss="offcanvas" aria-label="Close"></button>
		</div>
		<div class="offcanvas-body">

			<div th:each="cart : ${itemsInCart}" class="item-info">
			
		<table class="table table-borderless">
		
		<tr>
		<td> <form method="get" th:action="@{/}">	
						<button style="float: right;" class="btn btn-xs btn-danger pull-right" type="submit" name="command" value="cancel">x</button>
						<input type="hidden" name="comicId" th:value="${cart.getKey.getId}"/>
				</form>	</td>
		
		<td><span class="item-info"	style="display: inline-block; 	width: 200px; text-overflow: ellipsis;"
					th:text="${cart.getKey.getName}"></span><br>
					<span class="item-info" th:text="'Quantity : ' + ${cart.getValue}"></span><br>
					<span class="item-info" th:text="${cart.getKey.getPriceString}"></span></td>
					<td><img th:src="${cart.getKey.getTitlePagePath}" alt="" width="78"
						height="auto" /></td>
		</tr>
		
		</table>
 	
				
				</div>
				<a class="text-center" href="cart">View Cart</a>

			</div>
		</div>
		
	
	<!-- END OFF CANVAS  CART -->
	

<!-- LEFT CANVAS -->

<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Offcanvas</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div>
      Some text as placeholder. In real life you can have the elements you have chosen. Like, text, images, lists, etc.
    </div>
    <div class="dropdown mt-3">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown">
        Dropdown button
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
      </ul>
    </div>
  </div>
</div>
<!-- END LEFT CANVAS -->



<footer id="footer">
Skarabudženo by Risac &copy; 
</footer>

</body>
</html>